<div class="clearfix user-signup-wrapper">
  <div class="site-content-wrapper clearfix" style="margin-top: 10px">
    <div class="col-lg-12 clearfix">
      <div class="panel panel-default">
        <div class="panel-heading profile-custom-header">
          Edit Profile
          <%= link_to events_path, class: 'btn btn-default pull-left' do %>
              <i class="fa fa-list"></i> My Events
          <% end %>

          <%= link_to new_event_path, class: 'btn btn-default pull-right' do %>
              <i class="fa fa-calendar"></i> New Event
          <% end %>
          <div class="actions-profile btn">
             <span class="edit-profile">
                <i class="fa fa-pencil-square-o"> </i>
             </span>
          </div>
        </div>
        <div class="panel-body profile-details">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, multipart: true}) do |f| %>
              <%= devise_error_messages! %>

              <div class="clearfix row">
                <div class="field form-group col-sm-6">
                  <%= f.label :first_name %><br/>
                  <span class="input_text"><%= f.object.first_name %></span>
                  <%= f.text_field :first_name, autofocus: true, :class => 'form-control input_field' %>
                </div>

                <div class="field form-group col-sm-6">
                  <%= f.label :last_name %><br/>
                  <span class="input_text"><%= f.object.last_name %></span>
                  <%= f.text_field :last_name, autofocus: true, :class => 'form-control input_field' %>
                </div>
              </div>

              <div class="clearfix row">
                <div class="field form-group col-sm-6">
                  <%= f.label :email %><br/>
                  <span class="input_text"><%= f.object.email %></span>
                  <%= f.email_field :email, autofocus: true, :class => 'form-control input_field' %>
                </div>
                <div class="field form-group col-sm-6">
                  <%= f.label :country %><br/>
                  <span class="input_text"><%= f.object.country %></span>
                  <%= f.text_field :country, autofocus: true, :class => 'form-control input_field' %>
                </div>
              </div>

              <div class="field form-group">
                <%= f.label :category, 'I am specialized with' %><br/>
                <span class="input_text"><%= f.object.category.present? ? f.object.category.name : '' %></span>
                <%= f.select :category_id, options_for_select(Category.top_categories.map { |cat| [cat.name, cat.id] }, f.object.category.present? ? f.object.category.id : ''), {prompt: 'Select Category...'}, class: 'form-control input_field category_select' %>
              </div>

              <div class="field form-group sub_category">
                <% if f.object.category.present? %>
                    <%= f.label :sub_category, 'Area of Specialization' %><br/>
                    <span class="input_text"><%= f.object.sub_category.present? ? f.object.sub_category.name : '' %></span>
                    <%= f.select :sub_category_id, options_for_select(f.object.category.sub_categories.map { |cat| [cat.name, cat.id] }, f.object.sub_category.present? ? f.object.sub_category.id : ''), {prompt: 'Select Sub Category...'}, class: 'form-control input_field' %>
                <% end %>
              </div>

              <div class="music special-area">
                <div class="form-group">
                  <%= label_tag :band, 'You are a band or individual' %> <br/>
                  <span class="input_text"><%= f.object.band %></span>
                  <%= f.select :band, options_for_select(User::MUSIC_BAND.collect { |key, value| [value, key] }, f.object.band.present? ? f.object.band : ''), {prompt: 'Select one...'}, class: 'input_field' %>
                </div>
                <div class="band clearfix row">
                  <div class="field form-group col-sm-6">
                    <%= f.label :role, 'What is your role' %><br/>
                    <span class="input_text"><%= f.object.role %></span>
                    <%= f.text_field :role, :class => 'form-control input_field' %>
                  </div>
                  <div class="field form-group col-sm-6">
                    <%= f.label :how_long_play, 'How long you are play' %><br/>
                    <span class="input_text"><%= f.object.how_long_play %></span>
                    <%= f.text_field :how_long_play, :class => 'form-control input_field' %>
                  </div>
                </div>
                <div class="individual">
                  <div class="field form-group">
                    <%= f.label :what_play, 'What you play' %><br/>
                    <span class="input_text"><%= f.object.what_play %></span>
                    <%= f.text_field :what_play, :class => 'form-control input_field' %>
                  </div>
                </div>
              </div>

              <div class="models special-area">
                <div class="clearfix row">
                  <div class="field form-group col-sm-6">
                    <%= f.label :how_long_perform, 'How long you perform' %><br/>
                    <span class="input_text"><%= f.object.how_long_perform %></span>
                    <%= f.text_field :how_long_perform, :class => 'form-control input_field' %>
                  </div>
                  <div class="field form-group col-sm-6">
                    <%= f.label :age, 'Age' %><br/>
                    <span class="input_text"><%= f.object.age %> Years</span>
                    <%= f.text_field :age, :class => 'form-control input_field' %>
                  </div>
                </div>
              </div>

              <div class="books special-area">
                <div class="field form-group">
                  <%= f.label :how_long_write, 'How long you have long writing' %><br/>
                  <span class="input_text"><%= f.object.how_long_write %></span>
                  <%= f.text_field :how_long_write, :class => 'form-control input_field' %>
                </div>
              </div>

              <div class="field form-group">
                <%= f.label :address %><br/>
                <span class="input_text"><%= f.object.address %></span>
                <%= f.text_area :address, autofocus: true, :class => 'form-control input_field' %>
              </div>

              <div class="clearfix row">
                <div class="field form-group col-sm-6">
                  <%= f.label :estate, 'State' %><br/>
                  <span class="input_text"><%= f.object.estate %></span>
                  <%= f.text_field :estate, autofocus: true, :class => 'form-control input_field' %>
                </div>

                <div class="field form-group col-sm-6">
                  <%= f.label :city %><br/>
                  <span class="input_text"><%= f.object.city %></span>
                  <%= f.text_field :city, autofocus: true, :class => 'form-control input_field' %>
                </div>
              </div>

              <div class="field form-group">
                <%= f.label :bio %><br/>
                <span class="input_text">
                  <%= raw f.object.bio %>
                </span>

                <div class="input_field">
                  <%= f.text_area :bio, autofocus: true, :class => 'form-control tinymce', :rows => 20, :cols => 120 %>
                </div>
              </div>

              <div class="upload-profile-images clearfix">
                <%= f.fields_for :profile_pictures do |i| %>
                    <div class="field form-group user-profile-row col-sm-4 clearfix">
                      <div class="image-upload-wrapper">
                        <div style="margin-bottom: 5px;">
                          <%= image_tag(i.object.image_url(:large)) if i.object.image_url.present? %>
                        </div>
                        <div class="fileUpload btn btn-primary input_field">
                          <span> <%= i.object.image_url.present? ? 'Update Image' : 'Upload Image' %></span>
                          <%= i.file_field :image, autofocus: true, :class => 'form-control input_field upload' %>
                        </div>
                        <div class="remove-upload-image input_field">
                          <%= i.hidden_field :_destroy, value: 0, :class => "destroy-profile-picture" %>
                          <%= link_to "javascript:;", :class => "delete-profile-picture" do %>
                              <i class="fa fa-times-circle-o"></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                <% end %>

                <div class="field form-group input_field">
                  <p class="help-block right-aligned">
                    <%= link_to "Add more picture", "javascript:;", id: "add-profile-picture" %>
                  </p>
                </div>
              </div>
              <div class="clear"></div>
              <fieldset class="input_field clearfix">
                <legend> Password Zone
                  <i class="reset-password-info">(leave blank if you don't want to change your password)</i>
                </legend>
                <div>
                  <div class="field form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br/>
                    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                  </div>

                  <div class="field form-group input_field">
                    <%= f.label :password_confirmation %><br/>
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
                  </div>
                </div>
              </fieldset>

              <div class="actions form-group clearfix input_field">
                <%= f.submit :class => 'btn btn-default pull-right' %>
                <span class="btn btn-default pull-right cancel_profil_update" style='margin-right: 20px;'>Cancel</span>
              </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript">
    $(".edit-profile").click(function () {
        $(".input_field").show();
        $(".input_text").hide();
    });

    $(".cancel_profil_update").click(function () {
        $(".input_field").hide();
        $(".input_text").show();
    });

    $('.category_select').on('change', function () {
        var category_id = this.value; // or $(this).val()
        $.ajax({
            url: "<%= load_subcategory_path %>",
            type: 'get',
            dataType: 'script',
            data: {category_id: category_id},
        });
    });

    $(function () {
        $('#add-profile-picture').on('click', function () {
            var content = $('.user-profile-row:last');
            var content_html = content.wrap('<p/>').parent().html();
            content.unwrap();

            var id = $('.user-profile-row:last [id^="user_profile_pictures_attributes_"][id$="image"]').attr('id');
            id = id.replace("user_profile_pictures_attributes_", "").replace("_image", "");
            var new_id = parseInt(id) + 1;

            var regex = new RegExp("_" + id + "_", 'g');
            content_html = content_html.replace(regex, "_" + new_id + "_");

            regex = new RegExp("\\[" + id + "\\]", 'g');
            content_html = content_html.replace(regex, "[" + new_id + "]");

            content.after(content_html);
            content = $('.user-profile-row:last');
            content.find('.destroy-profile-picture').val("0");
            //content.find('input, select').val("");
            content.show();
        });

        $('#user_category_id').change(function () {
            var category = $(this).find('option:selected').text();
            $('.special-area').hide();
            if (category != '') {
                $('.' + category.toLowerCase()).show();
            }
        });

        $('#user_band').change(function () {
            var band = $(this).find('option:selected').text();
            $('.band, .individual').hide();
            if (band != '') {
                $('.' + band.toLowerCase()).show();
            }
        });

        show_individual_fields();
    });

    function show_individual_fields() {
        var category = $('#user_category_id').find('option:selected').text();
        if (category != '') {
            $('.' + category.toLowerCase()).show();
        }
        var category_band = $('#user_band').find('option:selected').text();
        if (category_band != '' && $('#user_band').val() != '') {
            $('.' + category_band.toLowerCase()).show();
        }
    }

    $(document).on('click', '.delete-profile-picture', function () {
        var education = $(this).closest('.user-profile-row');
        var destroy = education.find('.destroy-profile-picture');
        destroy.val("1");
        education.hide();
        return false;
    });

    $(document).ready(function () {
        tinyMCE.init({
            selector: ".tinymce",
            menubar: false,
            height: "250"
        });
    });
</script>