<div class="main-menu">
  <ul>
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'Promotion', promotion_path %>
    </li>
    <% Category.top_categories.each do |cat| %>
        <li class="dropdown">
          <a href="#"><%= cat.name %></a>
          <ul class="dropdown-content">
            <% cat.sub_categories.each do |scat| %>
                <li>
                  <%= link_to scat.name, artists_profile_path(cat.name.downcase, scat.name.downcase) %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>
    <li>
      <%= link_to 'Contact Us', contacts_path %>
    </li>
    <% if current_user.present? %>
        <li>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to 'Events', events_path %>
        </li>
        <li>
          <%= link_to 'Profile', profile_path %>
        </li>
    <% else %>
        <li> <%= link_to 'Membership', new_user_session_path %> </li>
    <% end %>
    <li id="site-search">
      <form class="form-wrapper" action="/search" method="get">
        <input type="text" name='search' placeholder="Search here...">
        <button type="submit">Search</button>
      </form>
    </li>
  </ul>
  <div style="clear: both;"></div>
</div>