<div class="event-date">
  <div class="date">
    <span class="day"> <%= event.date.strftime('%d') %> </span>
    <span class="month"> <%= event.date.strftime('%B') %> </span>
  </div>
</div>
<div class="event-item-details">
  <% if current_user.present? && event.user_id == current_user.id %>
      <div class="event-actions">
        <%= link_to edit_event_path(event) do %>
            <i class="fa fa-pencil"> </i>
        <% end %>

        <%= link_to event_path(event), method: 'delete', data: {confirm: 'Are you sure?'} do %>
            <i class="fa fa-times"> </i>
        <% end %>
      </div>
  <% end %>
  <h3 class="reset-top-margin"> <%= link_to event.title, event, class: 'event-link' %> </h3>

  <p>
    <%= raw truncate(event.description, length: 150, omission: '...') %>
  </p>
</div>