<div class="site-content-wrapper">
  <div class="artist-header">
    Artist <i class="fa fa-angle-double-right"></i> <%= params[:category] %>
    <i class="fa fa-angle-double-right"></i> <%= params[:subcategory] %>
  </div>

  <div class="promotion-profile reset-padding artists-list">
    <ul class="row first" data-bsp-ul-id="bsp-atuw" data-bsp-ul-index="0">
      <% @artists.each do |artist| %>
          <li class="col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12 bspHasModal" data-bsp-li-index="0">
            <%= link_to promotion_profile_path(artist.id) do %>
                <%= image_tag(artist.profile_image, class: 'img-responsive') %>
                <div class="text"> <%= artist.full_name %> </div>
            <% end %>
          </li>
      <% end %>
      <% unless @artists.present? %>
          <li class="no-artist-found text-center"> No artist found :(</li>
      <% end %>
    </ul>
  </div>
</div>