<!DOCTYPE html>
<html>
<head>
  <title>ArtistRelease</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="logo-section">
  <%= link_to root_path do %>
      <%= image_tag('logo.png') %>
  <% end %>
  <h3> New Artist Release </h3>

  <p> info@newartistrelease.com </p>
</div>

<%= render 'shared/nav' %>

<div class="content">
  <%= yield %>
</div>
<div class="clear"></div>
<%= render 'shared/footer' %>
<div class="clear"></div>

</body>
</html>
